@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  color: #494949;
  font-family: 'Ubuntu Mono', 'Roboto', 'Courier New', monospace;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #dce0d9;
}
