#about {
  animation: fade-up 1s;
}

.heading {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.subheading {
  font-size: 1.5rem;
}

#homepage-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#links {
  color: #5998c5;
}

#icons {
  display: flex;
  gap: 1rem;
  padding-right: 40px;
}

.icon-link,
.icon-button {
  color: inherit;
  transition: color 0.3s;
}

.icon-link[href="https://github.com/lukemcdowell"]:hover
{
  color: #333;
}

.icon-link[href="https://www.linkedin.com/in/ldbm/"]:hover
{
  color: #0077b5;
}

.icon-link[href="https://open.spotify.com/user/lukemcdo"]:hover
{
  color: #1db954;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-button:focus {
  outline: none;
}

.icon-button:hover {
  color: #eb4235;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(-0px) scale(1);
  }
}

@media (max-width: 650px) {
  #icons {
    flex-direction: column;
  }
}
