main {
  height: 90vh;
  width: 100vw;
}

.container {
  margin: auto;
  max-width: 610px;
  padding: 0rem 2rem;
}

#breadcrumbs {
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #5998c5;
}

.breadcrumb-link {
  display: flex;
  gap: 0.5rem;
}